*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.home-bg{
  background-image: url(https://www.swisskidsacademy.org/_next/static/media/home-banner.e184a387.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 200px;
  padding: 10px;
  -webkit-filter:contrast(20%) ;
  filter: brightness(50%);


}

.bg-color{
    background-color: rgba(8, 26, 46, 0.988);
    height: 300vh;
}




.text-con{
    text-transform: capitalize;
    text-align: center;
    color: white;

}

.pro{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 60px;

}

.pag{
    color: rgb(0, 255, 247);
    font-size: larger;
    font-weight: bold;
    justify-content: center;
    padding-bottom: 10px;
}

.change{
    --tw-text-opacity: 1;
    color: rgb(203 213 225 / var(--tw-text-opacity));
    justify-content: center;
}

.source{
    width: 350px;
    height: 280px;
    border: none;
    border-radius: 10px;
}

.clean{
    display: grid;
    grid-template-columns: auto auto auto;
    flex-wrap: nowrap;
    gap: 20px;
}

.rage{
    color: rgb(0, 255, 247);
    font-size: larger;
    font-weight: bold;
}

